
/* Простое решеие */
.mobile .screen-1-m {
    background: url("/images/screen-1/screen-1-t__bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
}
.mobile h1 {
    margin: 0 0 18px 0;
    font-size: 29px;
    text-transform: none;
}
.mobile h2 {
    font-size: 20px;
}
.mobile .screen-1-m p {
    font-size: 16px;
    line-height: 24px
}
.screen-1-m__content {
    padding: 57px 0 25px 0;
}
.mobile .screen-1-t__txt {
    padding: 0 3px;
}

/* Наши направления */
.mobile .our-direction {
    margin: 68px 0;
}
.mobile .our-direction h2 {
    margin: 0 0 30px 0;
    font-size: 20px;
    text-align: center;
}

/* О нас */
.mobile .principle {
    margin: 0 0 73px 0;
}
.mobile .principle-1 {
    margin: 0 0 23px 0;
}
.mobile .principle-2 {
    max-width: 320px;
}
.mobile .principle-2:after {
    top: 0;
}
.mobile .principle-2 span {
    top: 27px;
}
.mobile .about-us-t {
    padding: 34px 0 70px 0;
}
.mobile .about-us-t h2 {
    margin: 0px 0 30px 0;
    font-size: 20px;
}
.mobile .about-us-t img {
    margin: 65px 0 0 0;
}

/* ОТзывы */
.mobile .comments {
    padding: 40px 0 35px;
}
.mobile .slider__item-content {
    padding: 10px;
}
.mobile .slider__control {
    display: none;
}
.mobile .slider {
    margin: 0 auto 0 auto;
    padding: 35px 0 55px 0;
}
.mobile .slider__client-name {
    font-size: 18px;
}
.mobile .slider__client-name:after {
    width: 30px;
    right: -40px;
}
.mobile .slider__client-type {
    font-size: 12px;
}
.mobile .slider__client-name-wrap {
    margin: 30px 0 25px 0;
}
.mobile .slider__comment {
    margin: 0;
}
.mobile .slider__item {
    max-width: 300px;
    margin: 10px;
} 

/* Контакты */
.mobile .contacts {
    padding: 110px 0 23px 0;
}
.mobile .contacts h2 {
    width: 100%;
    margin: 0 0 38px 0;
    padding: 0;
    text-align: center;
}
.mobile .contacts p {
    margin: 0 0 7px 0;
    font-size: 18px;
}
.mobile .contacts span {
    font-size: 16px;
}

/* Карта */
.mobile .map {
    min-height: 208px;
}
.mobile .map img {
    object-fit: cover;
}

/* ОБратная связь */
.mobile .feedback {
    padding: 70px 0 105px 0;
}
.mobile form h2 {
    margin: 0 0 55px 0;
}
.mobile .feedback input {
    width: 100%;
    max-width: 90vw;
    margin: 0px 0 72px 0;
    font-size: 18px;
}
.mobile #phone {
    margin-bottom: 53px;
    padding: 0 0 0 75px;
}
.mobile form .call-order {    
    margin: 0 auto 20px;
}
.mobile form p {
    font-size: 14px;
}

/* footer */
.mobile footer {
    padding: 25px 0 15px 0;
}
.mobile footer p {
    font-size: 12px;
}
.mobile .footer__pages-link a {
    margin: 0 0 20px 0;    
    font-size: 14px;
}
.mobile .footer__phone {
    font-family: "Montserrat-Bold";
    font-size: 16px;
}
.mobile .footer__mail {
    font-size: 18px;
}
.mobile .footer__contacts p {
    font-size: 12px;
}
.mobile .footer__pages-link {
    margin: 0 0 20px 0;
}
