

.main-heading {
    max-width: 777px;
    margin-bottom: 39px;
    font-family: "Montserrat-bold";
    font-weight: bold;
    font-size: 47px;
    line-height: 57px;
    color: #2B2B2B;
}

/* Создание и сопровождение */
.screen-1 {
    background: url("/images/screen-2/screen-2__img.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;    
}

.screen-1 p {
    margin-bottom: 58px;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 39px;
    color: #000000;
}

.screen-1__txt {
    margin: 120px 2% 68px 0;
}

.social-wrap {
    margin: 20px;
    padding-left: 50px;
}

.social-icon {
    margin: 17px;
}
.container-img {
    width: 100%;
}
.screen-2__img {
    width: inherit;
    object-fit: contain;
}

/* Какие задачи */
.screen-2 {
    margin-top: 30px;
    background: #F4F4F4;
}
.screen-2 ul {
    padding-top: 15px;
    list-style: none;
}
.screen-2 li {
    margin: 30px 0;
    position: relative;
    font-family: "Montserrat-Regular";
    font-size: 24px;
    line-height: 29px;
}
.screen-2 li:after {
    content: "";
    position: absolute;
    top: 4px;
    left: -35px;
    display: block;
    width: 17px;
    height: 17px;
    background: #28BE52;
    border-radius: 3px;
}
.screen-2__left {
    padding: 118px 0 100px 53px;
}
.screen-2 img {
    padding-right: 30px;
}

/* Как мы работаем */
.screen-3 {
    padding: 185px 0 140px 0;
    background: url("/images/screen-3/screen-3__bg.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;

}
.screen-3 h2 {
    margin: 0;
    font-weight: bold;
    color: #ffffff;
}
.screen-3__central {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1133px;
    margin: 0 auto;
    position: relative;
    background: transparent;
}
.screen-3__how-we-work {
    position: absolute;
    top: -62px;
    right: -25px;
}
@media (max-width: 1300px) {
    .screen-3__how-we-work {
        top: -30px;
        right: 35px;
    }
}

.step {
    display: flex;
    width: 100%;
    font-family: "Montserrat-Bold";
    font-size: 21px;
    line-height: 26px;    
}
.step-2 {
    padding-left: 155px;
}
.step-3 {
    padding-left: 413px;
}

.step-num:after {
    content: "";
    position: absolute;
    top: -30px;
    left: -200px;
    display: block;
    width: 178px;
    height: 105px;
    background: url("/images/screen-3/screen-3__arrow.svg");
    background-repeat: no-repeat;
    background-size: contain;

}
.step-num {
    position: relative;
    margin: 0 30px 10px 19px;
    font-family: "Montserrat-Bold";
    font-size: 96px;
    line-height: 117px;
}
.step-num-1:after {
    display: none;
}
.step-num-2:after {
    left: -142px;
}
.step-num-3:after,
.step-num-4:after {
    left: -190px;
}

/* Стоимость услуг */
.cost {
    padding: 120px 0;
}
.cost h2 {
    margin-bottom: 70px;
}
.cost .call-order {
    margin-top: 80px;
}
.service {
    flex-direction: row;
    width: 100%;
    max-width: 1180px;
    height: 100px;
    margin: 6px 0;
    padding: 0 45px;
    background: #FFFFFF;
    box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.service p {
    margin: 0;
    font-size: 21px;
    color: #1D1D1D;
}
.service__price {
    position: relative;
    width: 115px;
    text-align: left;
    text-transform: none;
}

.service__price::after {
    content: "";
    display: block;
    width: 2px;
    height: 29px;
    background: #28BE52;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: -37px;
}

/* О компании */
.about-company {
    padding: 125px 0 195px 195px;
    background: url("/images/screen-3/screen-3__bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.about-company h2 {
    color: #ffffff;
    margin: 0 0 45px 0;
}
.about-company p{
    max-width: 535px;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}
.principles {
    margin: 80px 0 0 0;
}
.principle {
    height: 80px;
    margin: 0 0 40px 0;
    padding: 0 0 0 90px;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    position: relative;
}
.principle::after {
    content: "";
    position: absolute;
    top: -24px;
    left: -8px;
    width: 200px;
    height: 80px;
    background: url("/images/screen-4/green-circle-line.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.principle span {
    position: absolute;
    top: 4px;
    left: 22px;
    font-weight: bold;
    font-size: 52px;
    font-family: "Montserrat-Bold";
}
.principle-1 span{
    left: 27px;
}
.about-company__img {
    display: flex;
    width: 100%;
    max-width: 480px;
}
.about-company__img img {
    min-width: 100%;
    min-height: 100%;
    object-fit: contain;
}

/* Отзывы клиентов */
.comments {
    padding: 125px 85px;
    background: #F4F4F4;
}

/* Контакты */
.contacts {
    padding: 120px 11% 70px 11%;
}
.contacts h2 {
    max-width: 1250px;
    margin: 0 0 80px 0;
    padding: 0 0 0 30px;
}
.contacts p {
    font-family: "Montserrat-Bold";
    font-size: 24px;
    color: #000000;
}
.contacts span {
    font-size: 18px;
}
.contacts__phone-mail,
.contacts__address-time {
    display: flex;    
}
.contacts__info-wrap {
    min-width: 246px;
}

/* ОБратная связь */
.feedback {
    padding: 125px 0 215px 0;
    background: url("/images/feedback/feedback__bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
form {
    text-align: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}
form label {
    font-size: 18px;
    text-align: center;
} 
form input {
    margin: 20px 0 60px 0;
    padding: 0 0 10px 0;
    background: transparent;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    text-align: center;
    font-family: "Roboto";
    font-size: 24px;
    color: #FFFFFF;
}
#phone {
    margin-bottom: 110px;
    padding: 0 0 0 105px;
}
form input:focus {
    outline: none;
}
form h2 {
    margin: 0 0 85px 0;
}
form p {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5)
}
form h2, input, label {
    color: #ffffff;
}
form .call-order {
    margin: 0 auto 30px;
    font-family: "Montserrat-Regular";
}

/* footer */
footer {
    margin: 25px 11% 40px 11%;
    background: #000000;
    color: #FFFFFF;
}
.footer__content {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1240px;
    margin: 30px 11% 40px 11%;
}
.footer__address {
    min-width: 300px;
}
footer a {
    color: #FFFFFF;
    text-decoration: none;
}

@media (min-width: 993px) and (max-width: 1500px) {
    .main-heading {
        max-width: 630px;
        font-size: 37px;
    }
    .screen-1 {
        max-height: 720px;
    }
    .screen-1__txt {
        margin: 100px 2% 50px 0;
    }
    .screen-1 p {
        margin-bottom: 50px;
        font-size: 20px;
    }
}