
.screen-1-t {
    background: url("/images/screen-1/screen-1-t__bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
}
.screen-1-t h1 {
    max-width: 650px;
    margin: 40px 0 30px 0;
    font-family: "Montserrat-Bold";
    font-size: 45px;
    line-height: 54px;
    text-transform: none;
}
.screen-1-t__txt {
    max-width: 525px;
    font-size: 21px;
    line-height: 31px;
}
.screen-1-t
.work-time,
.contact-phone {
    font-size: 14px;
}

.tablet h2 {
    font-family: "Montserrat-Bold";
    font-size: 25px;
    line-height: 32px;
    text-transform: uppercase;
}
/* Наши направления */
.our-direction {
    margin: 90px 0 70px 0;
}
.our-direction h2{
    margin: 0 0 55px 0;
}
.our-direction__card {
    max-width: 360px;
    margin: 7px 0;
    padding: 14px;
    background: #FFFFFF;
    box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.our-direction__card img {
    margin: 0 0 25px 0;
}
.our-direction__card p {
    margin: 0 0 2px 0;
    font-size: 18px;
}
.our-direction__card a {
    position: relative;
    font-size: 12px;
    color: #1D1D1D;
}
.our-direction__card a:after {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    top: 5px;
    left: 77px;
    background: url("/images/tablet/our-directions/Arrow-right.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; 
}

/* О нас */
.about-us-t {
    padding: 70px 0 70px 0;
}
.about-us-t h2 {
    width: 100%;
    margin: 0 0 40px 0;
}
.about-us-t img {
    width: 100%;
    max-width: 350px;
    max-height: 540px;
    margin: 75px 0 0 0;
}
.about-us-t .principles {
    margin: 55px 0 0 0;
}
.about-us-t .principle {
    margin: 0 0 50px 0;
    color: #000000;
}
.about-us-t .principle:after {
    left: -28px;
    background: url("/images/screen-4/principal-t-after.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

/* ОТзывы клиентов */
.tablet .comments {
    padding: 45px;
}
.tablet .slider {
    padding: 0 0 55px 0;
    margin: 20px auto 0 auto;
}
.tablet .slider__item-content {
    max-width: 585px;
    height: 253px;
    padding: 28px 19px;
}
.tablet .slider__client-name {
    font-size: 18px;
}
.tablet .slider__client-name:after {
    right: -43px;
    width: 30px;
}
.tablet .slider__client-type {
    font-size: 12px;
}
.tablet .slider__comment {
    min-width: 515px;
    font-size: 16px;
    line-height: 24px;
}
.tablet .slider__client-name-wrap {
    margin: 0 0 23px 0;
}
.tablet .slider__control::before {
    width: 36px;
    height: 36px;
}
.tablet .slider__control {
    top: 43%;
}

/* Котнтакты */
.tablet .contacts {
    padding: 134px 11% 70px 0;
}
.tablet .contacts h2 {
    margin: 0 0 40px 0;
    padding: 0 0 0 15px;
}
.tablet .contacts p {
    font-size: 18px;
}
.tablet .contacts span {
    font-size: 16px;
}

/* Остались вопросы? */
.tablet .feedback {
    padding: 50px 0;
}

.tablet h2 {
    margin: 0 0 43px 0;
    font-size: 20px;
}
.tablet form {
    max-width: 320px;
}
.tablet form p {
    font-size: 14px;
}
.tablet input {
    margin: 0 0 57px 0;
    padding: 0 0 8px 0;
    font-size: 18px;
}
.tablet #phone {
    margin-bottom: 65px;
}
.tablet .call-order {
    margin: 0 auto 18px auto;
}

/* footer */
.tablet footer {
    padding: 25px 0 18px 0;
    background: #000;
}
.tablet footer {
    font-size: 12px;
}
.tablet .footer__pages-link {
    padding: 0 0 0 50px;
    font-size: 14px;
}
.tablet .footer__pages-link a {
    margin: 0 0 10px 0;
}
.tablet .footer__phone {
    margin: 0 0 7px 0;
    font-size: 16px;
    font-family: "Montserrat-Bold";
}
.tablet .footer__mail {
    margin: 0 0 12px 0;
    font-size: 18px;
}
.tablet .footer__contacts {
    padding: 0 15px 0 85px;
}
.tablet .footer__insta img{
    width: 25px;
    height: 22px;
}
.tablet .footer__fb img {
    width: 11px;
    height: 21px;
}
.tablet .footer__vk img{
    width: 41px;
    height: 22px;
}
.tablet .footer__social-icons {
    max-width: 155px;
}
