.slider {
    width: 100%;
    margin: 50px auto 0 auto;
    padding: 35px 0 90px 0;
    position: relative;
    overflow: hidden;
}
.slider__heading {
    width: 100%;
    text-align: center;
}

.slider__wrapper {
  display: flex;
  transition: transform 0.6s ease;
}

.slider__item {
  flex: 0 0 50%;
  max-width: 50%;
}
@media (max-width: 1300px) {
  .slider__item {
    flex: 0 0 100%;
    max-width: 100%;  
  }
}
.slider__item-content {   
    display: flex;
    flex-direction: column;    
    width: 100%;
    max-width: 550px;
    height: 300px;
    margin: 0 auto;
    padding: 35px;
    background: #FFFFFF;
    box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.slider__client-name-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 30px 0 35px 0;
    padding: 0 0 0 60px;
}
.slider__client-name {
    position: relative;
    margin: 0 0 7px 0;
    font-family: "Montserrat-Bold";
    font-size: 21px;
    line-height: 26px;
}
.slider__client-name::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -81px;
    width: 66px;
    border: 1px solid #28BE52;
} 
.slider__client-type {
    font-size: 16px;
    line-height: 20px;
    color: #969696;
    text-transform: uppercase;
}
.slider__comment {
    max-width: 475px;
    margin: 0 0 30px 0;
    text-align: left;
    font-size: 18px;
    line-height: 27px;
    color: #3F3F3F;
    overflow: hidden;
}
.slider__client-img {
    position: absolute;
    top: 3px;
    left: 0;
}

.slider__control {
    position: absolute;
    top: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    color: #fff;
    text-align: center;
    height: 50px;
    transform: translateY(-50%);
}

.slider__control:hover,
.slider__control:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9;
}

.slider__control_left {
    left: 0;
}

.slider__control_right {
    right: 0;
}

.slider__control::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}

.slider__control_left::before {
    background-image: url("/images/slider/left-arrow.svg");
}

.slider__control_right::before {
    background-image: url("/images/slider/right-arrow.svg");
}

.slider__item>div {
    line-height: 250px;
    font-size: 100px;
    text-align: center;
}

.slider__bottom-control {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}
.slider__control-circle {
    display: flex;
    width: 15px;
    height: 15px;
    margin: 0 8px;
    border-radius: 50%;
    background-color: #616161;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.slider__control-circle.is-active {
  background-color: #28BE52;

}
